*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color:cornflowerblue;
    color: black;
}

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
}

.form h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0 10px;
}

.form p{
    font-size: 20px;
    margin: 15px 0;
}

.form input{
    font-size: 16px;
    padding: 5px 10px;
    width: 100%;
}

.form button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 10px 15px;
    width: 80%;
}

.form button:hover{
    color: red;
}

.form textarea{
    width: 100%;
}